<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>美团HD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEE3D3211C3EA7920011628B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE3D33A1C3EA7920011628B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE3D3451C3EA7920011628B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
