<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarqueeUPDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89536E2A1CD1AC3A00144667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89536E431CD1AC3A00144667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89536E4E1CD1AC3A00144667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
