<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>08-我的详情页.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE69C4931DE35EB9002AA9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE69C4AC1DE35EB9002AA9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE69C4B71DE35EB9002AA9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
